.shots__stats {
    color: #aaa;
    font-size: 11px;
  }
  
  .shots__list {
    display: flex;
    justify-content: flex-end;
  }
  
  .shots__list li {
    margin-left: 5px;
  }
  
  .shots__list i {
    margin-right: 5px;
  }
  